body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #ff69b4;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 20px;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  padding: 20px;
}

/* App.css */

/* Estilo para o contêiner da imagem */
.imageContainer {
  overflow: hidden; /* Garante que a imagem não saia do contêiner */
}

/* Efeito de zoom na imagem */
.imageContainer:hover .image {
  transform: scale(1.1); /* Amplia a imagem em 10% ao passar o mouse */
}

